body {
  background-color: #fff;
}
.spinner {
  position:  absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  background-image: url( "../images/ajax-loader.gif" );
  width: 24px;
  height: 24px;
  padding: 0px;
}

.contents {
  text-align: center;
}

.button {
  border-image: url(/assets/buttons/green-button-border-image-c834b2d583026bf857e350f15949a79d.png) 12 12 12 12 stretch stretch;
  border-image-slice: 12 12 12 12 fill;
  border-width: 12px 12px 12px 12px;
  cursor: pointer;
  background: #76992F;
  font-size: 18px;
  padding: 10px 18px;
  color: 
  white;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 5px;
  width: 50px;
  margin: auto;
}